@import 'styles/variables.scss';

.error-message {
  &__title {
    margin-bottom: 1rem;
  }

  &__back {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;

    &_button {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      width: 15rem;
      padding: 1.5rem;
      border: 2px solid $white;
      border-radius: 0.4rem;
      background-color: $black;
      color: $white;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.5px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.35s ease-out;
    }

    &_arrow {
      width: 100%;
      height: 100%;
      background-color: $black;
      left: -15rem;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 0.35s ease-out;
      transition: all 0.35s ease-out;
      font-size: 3rem;
    }

    &_text {
      position: relative;
      left: 0;
      transition: all 0.35s ease-out;
    }
  }
}

@media (hover: hover) {
  .error-message__back_button:hover {
    border: 2px solid $primary;

    .error-message__back {
      &_arrow {
        left: 0;
        color: $primary;
      }

      &_text {
        left: 15rem;
      }
    }
  }
}
