@import '../../styles/variables.scss';

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  outline: 2px solid $primary;
  border-radius: 1rem;
  text-align: center;
  flex: 1;

  &__image {
    width: 5rem;
    height: 5rem;
  }
}