@import '../../../styles/variables.scss';

$star-empty: '../../../assets/icons/star-empty.svg';
$star-filled: '../../../assets/icons/star-filled.svg';

.movie-page__rating {
  
  &_list {
    display: flex;
    margin-bottom: 0.5rem;
    list-style: none;
  }

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 2rem;
    font-size: 0.8rem;
  }

  &_stars {
    position: relative;
    height: 2rem;
  }

  &_star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .empty {
    background-image: url($star-empty);
    background-size: 2rem;
  }

  .filled {
    background-image: url($star-filled);
    background-size: 2rem;
  }

  &_number {
    align-self: center;
  }

  &_reviews {
    font-size: 0.8rem;
  }
}

@media (max-width: 576.98px) {
  .movie-page__rating {

    &_item {
      width: 1.8rem;
    }

    &_stars {
      height: 1.8rem;
    }

    .empty {
      background-size: 1.8rem;
    }

    .filled {
      background-size: 1.8rem;
    }
  }
}