@import '../../styles/variables.scss';

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  padding: 1rem;

  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    list-style: none;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;

    &_image {
      width: 100%;
      height: auto;
      margin: 0 auto;
      border-radius: 1rem;
    }

    &_rating {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      padding: 0.5rem;
      border-radius: 0.2rem;
      background-color: $primary-dark;
      line-height: 1rem;
      text-align: center;
    } 

    &_name {
      font-weight: 700;
    }
  }
}

@media (max-width: 991.98px) {
  .movie-list__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767.98px) {
  .movie-list__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .movie-list__item {
    gap: 0.5rem 0;

    &_description {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 576.98px) {
  .movie-list__list {
    gap: 1rem;
  }

  .movie-list__item {

    &_rating {
      padding: 0.4rem 0.5rem;
      font-size: 0.8rem;
      line-height: 0.8rem;
    } 
  }
}
