@import '../../styles/variables.scss';

.movie-list {
  &__title {
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &_image {
      width: 90%;
      height: auto;
      margin: 0 auto;
      border-radius: 1rem;
    }

    &_text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      gap: 1rem;
      padding: 0.5rem;
    }

    &_imdb {
      align-self: center;
      font-size: 2rem;
      font-weight: 700;
      color: $primary;
    } 

    &_name {
      font-weight: 700;
    }
  }
}

@media (max-width: 991.98px) {
  .movie-list__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767.98px) {
  .movie-list__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .movie-list__item_image {
    height: 60vh;
    width: auto;
  }
}

@media (max-width: 575.98px) {
  .movie-list__list {
    grid-template-columns: 1fr;
  }
}
