@import '../../styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  padding: 1.5rem;
  background-color: $primary-dark;
  z-index: 10;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;

    &_active {
      padding: 1.5rem 0 2px 0;
      max-height: 120px;
    }
  }

  &__menu {
    display: flex;
    gap: 1.5rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
    height: 36px;
    padding: 0.3rem 0.5rem;
    outline: 2px solid $white;
    border-radius: 0.2rem;
    transition: 0.3s all ease;

    &_img {
      width: 24px;
      height: 24px;
      position: relative;
    }

    &_svg {
      position: absolute;
      left: 0;
      transition: 0.3s all ease;
    }

    &_active {
      opacity: 0;
    }

    &_line {
      width: 2px;
      height: 1.2rem;
      background-color: $white;
      border-radius: 0.2rem;
      transition: 0.3s all ease;
    }

    &_text {
      transition: 0.3s all ease;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
    }

    &:hover {
      outline: 2px solid $black;
      cursor: pointer;

      .header__logo {
        &_default {
          opacity: 0;
        }

        &_active {
          opacity: 1;
        }

        &_line {
          background-color: $black;
        }

        &_text {
          color: $black;
        }
      }
    }
  }

  &__button {
    position: relative;
    height: 36px;
    width: 36px;
    padding: 6px;
    border: none;
    background-color: transparent;
    outline: 2px solid $white;
    border-radius: 0.2rem;
    display: none;

    &_item {
      position: absolute;
      width: calc(100% - 12px);
      height: 2px;
      background-color: $white;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease;
    }

    &_item:nth-child(1) {
      top: 8px;
    }
    &_item:nth-child(2) {
      top: 16px;
    }
    &_item:nth-child(3) {
      top: 24px;
    }

    &_active {
      .header__button_item:nth-child(1) {
        transform: rotate(45deg);
        top: 16px;
      }
      .header__button_item:nth-child(2) {
        opacity: 0;
      }
      .header__button_item:nth-child(3) {
        transform: rotate(-45deg);
        top: 16px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .header__menu {
    gap: 0.8rem;
  }
}

@media (max-width: 767.98px) {
  .header {
    text-align: center;

    &__menu {
      display: none;
    }

    &__button {
      display: block;
    }

    &__mobile {
      display: flex;
    }
  }
}

@media (max-width: 575.98px) {
  .header {
    padding: 1rem;
  }
}
