@import '../../styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  padding: 1.5rem;
  background-color: $primary-dark;
  z-index: 10;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
    height: 36px;
    padding: 0.3rem 0.5rem;
    outline: 2px solid $white;
    border-radius: 0.2rem;
    transition: 0.3s all ease;

    &_img {
      width: 24px;
      height: 24px;
      position: relative;
    }

    &_svg {
      position: absolute;
      transition: 0.3s all ease;
    }

    &_active {
      opacity: 0;
    }

    &_line {
      width: 2px;
      height: 1.2rem;
      background-color: $white;
      border-radius: 0.2rem;
      transition: 0.3s all ease;
    }

    &_text {
      transition: 0.3s all ease;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
    }

    &:hover {
      outline: 2px solid $black;
      cursor: pointer;

      .header__logo {
        &_default {
          opacity: 0;
        }

        &_active {
          opacity: 1;
        }

        &_line {
          background-color: $black;
        }

        &_text {
          color: $black;
        }
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    &_button {
      height: 36px;
      width: 36px;
      position: relative;
      border: none;
      background-color: transparent;
      outline: 2px solid $white;
      border-radius: 0.2rem;
      transition: 0.3s all ease;
      cursor: pointer;

      &:hover {
        outline: 2px solid $black;

        .header__nav {
          &_default {
            opacity: 0;
          }

          &_active {
            opacity: 1;
          }
        }
      }
    }

    &_img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s all ease;
    }

    &_active {
      opacity: 0;
    }

    &_link {
      height: 36px;
    }
  }
}

@media (max-width: 767.98px) {
  .movie-page__header {
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .header {
    padding: 1rem;
  }
}
