.movie-page__header {
  &_item {
    overflow-wrap: anywhere;
  }

  &_subtitle {
    color: rgba(255, 255, 255, 0.6);
  }

  &_short-description {
    font-style: italic;
  }
}

@media (max-width: 767.98px) {
  .movie-page__header_title {
    text-align: center;
  }
}
