@import '../../styles/variables.scss';

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
  }

  &__button {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 0.2rem;
    outline: 2px solid transparent;
    background-color: $white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.35s all ease;

    &:hover {
      background-color: $primary;
      outline: 2px solid $primary;
    }

    &:disabled {
      opacity: 0.5;
      outline: 2px solid transparent;
      background-color: $white;
    }
  }

  &__page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 2rem;
    border-radius: 0.2rem;
    outline: 2px solid transparent;
    background-color: $white;
    font-weight: 700;
    color: #000000;

    &_tight {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  .paginator__page_wide {
    display: none;
  }

  .paginator__page_tight {
    display: flex;
  }
}